.Steps {
    background-color: #f4f4f4;
}

.StepsBox {
    margin-top: 30px;
}

.StepsBox:first-child {
    text-align: right;
    padding-right: 3%;
}

.StepsBox:last-child {
    text-align: left;
    padding-left: 3%;
    margin-top: 70px;
}

.AppScreen {
    width: 40%;
}
