.Steps {
    background-color: #f4f4f4;
}

.StepsBox {
    margin-top: 30px;
}

.StepsBox:first-child {
    text-align: right;
    padding-right: 3%;
}

.StepsBox:last-child {
    text-align: left;
    padding-left: 3%;
    margin-top: 70px;
}

.AppScreen {
    width: 40%;
}

@media only screen and (max-width: 1023px) {
    .StepsBox {
        margin-top: 10px;
    }

    .StepsBox:last-child {
        margin-top: 10px;
    }

    .AppScreen {
        width: 50%;
    }
}

@media only screen and (max-width: 767px) {
    .StepsBox:first-child {
        text-align: center;
    }

    .AppScreen {
        width: 40%;
    }
}
