.Button:link,
.Button:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.ButtonFull:link,
.ButtonFull:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.ButtonGhost:link,
.ButtonGhost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.Button:hover,
.Button:active {
    background-color: #cf6d17;
}

.ButtonFull:hover,
.ButtonFull:active {
    border: 1px solid #cf6d17;
}

.ButtonGhost:hover,
.ButtonGhost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}
