.Logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.LogoBlack {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

.NavBar {
    max-width: 1140px;
    margin: 0 auto;
}

.NavMenu {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.MobileNavBarIcon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.MobileNavBarIcon > i {
    font-size: 200%;
    color: #fff;
}
