.Icon {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 16px;
}

@media only screen and (max-width: 767px) {
    .Icon {
        text-align: center;
        width: 100%;
    }
    .Icon + h3 {
        text-align: center;
    }
}
