.CityFeature {
    margin-bottom: 5px;
}

.CityFeature > button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.IconSmall {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}

.IconSmallTwitter {
    transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
}

.IconSmallTwitter:hover {
    color: #00acee;
}

@media only screen and (max-width: 1023px) {
    .IconSmall {
        width: 17px;
        margin-right: 5px;
    }

    .CityFeature {
        font-size: 90%;
    }
}
