.Line {
    padding: 5px 0;
}

.IconSmall {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;

    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

@media only screen and (max-width: 1023px) {
    .IconSmall {
        width: 17px;
        margin-right: 5px;
    }
}
