.LongCopy {
    margin-bottom: 30px;
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

@media only screen and (max-width: 1023px) {
    .LongCopy {
        width: 80%;
        margin-left: 10%;
    }
}

@media only screen and (max-width: 767px) {
    .LongCopy {
        width: 100%;
        margin-left: 0;
    }
}
