.PlanBox {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 0px 2px 2px #efefef;
    box-shadow: 0px 2px 2px #efefef;
}

.PlanBox div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.PlanPrice {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.PlanPrice span {
    font-size: 30px;
    font-weight: 300;
}

.PlanPriceMeal {
    font-size: 80%;
}

.PlanBox ul {
    list-style: none;
}

.PlanBox div:last-child {
    text-align: center;
    border: none;
}

.PlanBox div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

@media only screen and (max-width: 1023px) {
    .PlanBox {
        width: 100%;
        margin-left: 0;
    }

    .PlanPrice {
        font-size: 250%;
    }
}

