* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

section {
    padding: 80px 0;
}

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: ' ';
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

.box {
    padding: 1%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }

    section {
        padding: 60px 0;
    }
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    section {
        padding: 30px 0;
    }

    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }
}

@media only screen and (max-width: 480px) {
    section {
        padding: 25px 0;
    }
}
