.Logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.LogoBlack {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

.NavMenu {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.Show.Show {
    display: initial;
}

.MobileNavBarIcon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 250%;
    color: white;
}

.MobileNavBarIcon > i {
    font-size: 200%;
    color: #fff;
}

.Sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.Sticky .MobileNavBarIcon {
    margin-top: 12px;
    color: #222;
}

.Sticky .NavMenu {
    margin-top: 18px;
}

.Sticky .NavMenu li a:link,
.Sticky .NavMenu li a:visited {
    padding: 16px 0;
    color: #555;
}

.Sticky .Logo {
    display: none;
}

.Sticky .LogoBlack {
    display: block;
}

@media only screen and (max-width: 767px) {
    .MobileNavBarIcon {
        display: inline-block;
    }

    .NavMenu {
        float: left;
        margin-top: 35px;
        margin-left: 25px;
    }

    .NavMenu {
        display: none;
    }

    .NavMenu li {
        display: block;
    }

    .NavMenu li a:link,
    .NavMenu li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }

    .Sticky .NavMenu {
        margin-top: 10px;
    }

    .Sticky .NavMenu li a:link,
    .Sticky .NavMenu li a:visited {
        padding: 10px 0;
    }
}
